.sideNav {
    background-color: #575c61; /* Dark background for sidebar */
    min-height: calc(100vh - 60px); /* Subtract header height if needed */
    width: 290px; /* Set a fixed width */
    padding-top: 30px;
}
.d-flex {
    display: flex;
  }
  
  .content-container {
    padding: 20px;
    margin-left: 0px;
    margin-top: 60px; /* Adjust this to match the header height */
}

  
  .errmsg {
    color: red;
    margin: 10px 0;
  }